<ion-view title="Confirmation" cache-view="false">
    <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear" ng-click="topBackBtn()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>

        <ion-nav-title class="alice_text">
            Confirmation
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="has-header" padding="true" overflow-scroll="false">
        <form id="confirmation-form17" class="list">
            <h5 id="confirmation-heading6" style="color:#000000;">Step 4 of 4</h5>
            <ion-list id="confirmation-list4">
                <ion-item id="confirmation-list-item29">
                    Vehicle No:
                    <span class="item-note">ABC 1234</span>
                </ion-item>
                <ion-item id="confirmation-list-item30">
                    Workshop:
                    <span class="item-note">TCEAS Cheras</span>
                </ion-item>
                <ion-item id="confirmation-list-item31">Date:</ion-item>
                <ion-item id="confirmation-list-item32">Time:</ion-item>
            </ion-list>
            <div id="confirmation-button-bar6" class="button-bar">
                <a ui-sref="app.service_package" id="confirmation-button24" class="button button-positive  button-block">Back</a>
                <a ui-sref="app.home" id="confirmation-button25" class="button button-positive  button-block">Confirm</a>
            </div>
            <div id="confirmation-button-bar7" class="button-bar"></div>
        </form>
    </ion-content>
</ion-view>