<ion-view title="Confirmation" cache-view="false">
    <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear" ng-click="topBackBtn()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>

        <ion-nav-title class="alice_text">
            Confirmation
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="has-header" padding="true" overflow-scroll="false">
        <form id="confirmation-form17" class="list">
            <h5 id="confirmation-heading6" style="color:#000000;">Step 4 of 4</h5>
            <ion-list>
                <ion-item>
                    Vehicle No:
                    <span class="item-note">{{ vm.vehicleNo }}</span>
                </ion-item>
                <ion-item>
                    Workshop:
                    <span class="item-note">{{ vm.vehicleNo }}</span>
                </ion-item>
                <ion-item>
                    Date:
                    <span class="item-note">{{ vm.date }}</span>
                </ion-item>
                <ion-item>
                    Time:
                    <span class="item-note">{{ vm.time }}</span>
                </ion-item>
            </ion-list>
            <div class="button-bar">
                <button class="button button-positive button-block" ng-click="Confirm()">Confirm</button>
            </div>
        </form>
    </ion-content>
</ion-view>