<ion-view title="Appointment"  cache-view="false">
    <ion-content class="has-header" padding="true" overflow-scroll="false">
        <form class="list">
            <h5 style="color:#000000;">Your Upcoming Appoinment:</h5>
            <ion-item>
                Date:
                <span class="item-note"> {{ vm.date }}</span>
            </ion-item>
            <ion-item>
                Location:
                <span class="item-note">{{ vm.workshop.name }}</span>
            </ion-item>
            <ion-item>
                Vehicle No:
                <span class="item-note">{{ vm.vehicleNo }}</span>
            </ion-item>
            <div class="button-bar">
                <button class="button button-positive button-block" ng-click="Next()">Make Appoinment</button>
            </div>
        </form>
    </ion-content>
</ion-view>