<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        <ion-nav-bar class="bar-header" align-title="center">
            <ion-nav-back-button class="button button-icon button-clear"></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" cache-view="false"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content padding="false" class="side-menu-left " overflow-scroll="false">
            <ion-list>
                <ion-item menu-toggle ng-click="goto('app.home')">
                    <i class="icon ion-clipboard"></i>&nbsp;
                    Booking
                </ion-item>
                <ion-item menu-toggle ng-click="goto('app.history')">
                    <i class="icon ion-archive"></i>&nbsp;
                    Service History
                </ion-item>
                <ion-item menu-toggle ng-click="goto('app.profile')">
                    <i class="icon ion-person"></i>&nbsp;
                    Profile
                </ion-item>
                <ion-item menu-toggle ng-click="logout()">
                    <i class="icon ion-log-out"></i>&nbsp;
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>