<ion-view title="Service Package" cache-view="false">
    <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear" ng-click="topBackBtn()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>

        <ion-nav-title class="alice_text">
            Service Package
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="has-header" padding="true" overflow-scroll="false">
        <form id="servicePackage-form16" class="list">
            <h5 id="servicePackage-heading5" style="color:#000000;">Step 3 of 4</h5>
            <label class="item item-select" id="servicePackage-select10">
                <span class="input-label">Service:</span>
                <select>
                    <option>1,000KM</option>
                    <option>5,000KM</option>
                    <option>10,000KM</option>
                    <option>90,000KM</option>
                    <option>100,000KM</option>
                </select>
            </label>
            <ion-item id="servicePackage-list-item21">
                Service Item:
                <span class="item-note">Engine Oil</span>
            </ion-item>
            <ion-item id="servicePackage-list-item22">
                Price:
                <span class="item-note">200</span>
            </ion-item>
            <div id="servicePackage-button-bar4" class="button-bar">
                <a ui-sref="app.workshop_timeslot" id="servicePackage-button22" class="button button-positive  button-block">Back</a>
                <a ui-sref="app.confirmation" id="servicePackage-button23" class="button button-positive  button-block">Next</a>
            </div>
            <div id="servicePackage-button-bar5" class="button-bar"></div>
        </form>
    </ion-content>
</ion-view>